
<form action="<%= notes_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="note[track_id]" value="<%= track.id %>">
  <label>
    Note:
    <textarea name="note[note]" rows="8" cols="40"></textarea>
  </label>
  <input type="submit" value="submit">
</form>
